[Unit]
Description=DonkeySignage Client service

[Service]
Type=simple
ExecStart=/usr/bin/npm start --prefix /opt/DonkeySignage-Client

[Install]
WantedBy=multi-user.target
RequiredBy=graphical.target
