{{#ifeq state.tokenState "OK"}}
    {{#ifnoteq state.state "OK"}}
        <div class="row">
            <div class="col s12 center">
                <h1><b>Donkey Signage Client</b></h1>
            </div>
        </div>
        <div class="row">
            <div class="col s12 center {{#ifeq state.state "CON_ERROR"}} red-text{{/ifeq}} {{#ifeq state.state
                                                                                                   "AUTH_ERROR"}} red-text{{/ifeq}}">
                <h2>{{{message}}}</h2>
            </div>
        </div>
        <div class="row">
            <div class="col s12 center">
                {{#if reason}}
                    <h3>{{reason}}</h3>
                {{/if}}
            </div>
        </div>


    {{/ifnoteq}}

    {{#ifeq state.state "OK"}}
        <div id="grid">
        </div>
    {{/ifeq}}


{{/ifeq}}



<script>
    var tokenState = "{{state.tokenState}}";
    var state = "{{state.state}}"
</script>
{{#ifeq state.state "OK"}}
    <script src="/js/loadTemplate.js"></script>
{{/ifeq}}
<script src="/js/stateCheck.js"></script>