{{#ifeq state.tokenState "OK"}}
    {{#ifnoteq state.state "DISPLAY"}}
        <h1>{{{message}}}</h1>
        {{#if reason}}
            <h2>{{reason}}</h2>
        {{/if}}
    {{/ifnoteq}}


{{/ifeq}}



<script>
    var tokenState = "{{state.tokenState}}";
    var state = "{{state.state}}"
</script>
<script src="/js/stateCheck.js"></script>